@font-face {
    font-family: 'Adman';
    src: url('db_adman_x_bd_v3.2-webfont.eot');
    src: url('db_adman_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_adman_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('db_adman_x_bd_v3.2-webfont.woff') format('woff'),
         url('db_adman_x_bd_v3.2-webfont.ttf') format('truetype'),
         url('db_adman_x_bd_v3.2-webfont.svg#Adman') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Adman';
    src: url('db_adman_x_li_v3.2-webfont.eot');
    src: url('db_adman_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_adman_x_li_v3.2-webfont.woff2') format('woff2'),
         url('db_adman_x_li_v3.2-webfont.woff') format('woff'),
         url('db_adman_x_li_v3.2-webfont.ttf') format('truetype'),
         url('db_adman_x_li_v3.2-webfont.svg#Adman') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Adman';
    src: url('db_adman_x_v3.2-webfont.eot');
    src: url('db_adman_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_adman_x_v3.2-webfont.woff2') format('woff2'),
         url('db_adman_x_v3.2-webfont.woff') format('woff'),
         url('db_adman_x_v3.2-webfont.ttf') format('truetype'),
         url('db_adman_x_v3.2-webfont.svg#Adman') format('svg');
    font-weight: 400;
    font-style: normal;
}