<footer id="footer">
	<div class="container">
		<h4 class="lg-ft"><img src="assets/imgs/logo.png" height="25"></h4>
		<nav class="nav-ft">
			<a href="products.php" title="products">Products</a>
			<a href="corporrate.php" title="Corporate info">Corporate info</a>
			<a href="contact.php" title="Contact us">Contact us</a>
			<a href="faq.php" title="FAQ">FAQ</a>
		</nav>
		<div class="row _chd-cl-xs-12-xsh-12-xl-06 center-xs">
			<div class="col-l">
				<h5>Contact Us</h5>
				<ul class="ft-social _chd-cl-xs-06-xsh-02-xl-04">
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-call.png" alt="email"></i>
						<div>
							<b>Tel: 02-712-7272</b>
							<span>Call Center</span>
						</div>
					</a>
					</li>
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-mail.png" alt="email"></i>
						<div>
							<b>info@sprinkle-th.com</b>
							<span>Email</span>
						</div>
					</a>
					</li>
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-LINE.png" alt="LINE"></i>
						<div>
							<b>@sprinklewater</b>
							<span>LINE</span>
						</div>
					</a>
					</li>
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-FB.png" alt="fb: SprinkleDrinkingWater"></i>
						<div>
							<b>SprinkleDrinkingWater</b>
							<span>Facebook</span>
						</div>
					</a>
					</li>
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-ig.png" alt="Instagram"></i>
						<div>
							<b>SprinkleDrinking</b>
							<span>Instagram</span>
						</div>
					</a>
					</li>
					<li>
					<a href="#" title="link">
						<i><img src="assets/imgs/ft-ic-youtube.png" alt="YouTube"></i>
						<div>
							<b>Sprinkle-channel</b>
							<span>YouTube</span>
						</div>
					</a>
					</li>
				</ul>
			</div>
			<div class="col-r _chd-cl-xs-12-md-06-xl-12-pd0">
				<div class="bx">
					<h5>We support:</h5>
					<div class="d-flex center-xs start-xl">
						<img src="assets/imgs/ft-support1.png" alt="We support">
						<img src="assets/imgs/ft-support2.png" alt="We support">
					</div>
				</div>
				
				<div class="bx">
					<h5>Our Rewards:</h5>
					<div class="d-flex center-xs start-xl _chd-mr20">
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-01.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://mozilla.github.io/pdf.js/web/viewer.html" href="javascript:;"><img src="assets/imgs/ft-rw-02.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-03.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-04.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-05.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-06.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-07.png" alt="Our Rewards"></a>
						<a data-fancybox data-type="iframe" data-src="https://sprinkle-th.com/home.php" href="javascript:;"><img src="assets/imgs/ft-rw-08.png" alt="Our Rewards"></a>
					</div>
				</div>
				
				
			</div>
			
		</div>
		
		<div class="ft-lang">
			<a href="#" class="selected">EN</a>
			<a href="#">TH</a>
			<a href="#">JP</a>
		</div>
		
		<div class="copyright">© 2013 M. Water Company Limited. All rights reserved.</div>
	</div>
</footer>
<!-- bubble -->
<div id="bb_chat">
	<a href="javascript:;" title="Contacts">Contact Us</a>
	<div class="list-bb">
		<ul>
			<li><a class="phone" href="tel:027127272"><span>Phone</span></a></li>
			<li><a class="fb" target="_blank" href="https://m.me/308987989164101"><span>Messenger</span></a></li>
			<li><a class="line" target="_blank" href="line.me/ti/p/~@sprinklewater"><span>Line</span></a></li>
		</ul>
	</div>
</div>
<!-- /bubble -->
