<head>
<meta charset="utf-8">

<!-- Title -->
<title>::: Sprinkle Online :::</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta name="description" content="สปริงเคิล ผู้นำ..น้ำดื่มสู่ทุกชีวิต" />
<meta name="keywords" content="Sprinkle Drinking water, น้ำดื่มสปริงเคิล, M Water, สั่งซื้อน้ำถังใหญ่, สั่งซื้อน้ำดื่มขวดเล็ก" />
<meta name="author" content="บริษัท เอ็ม วอเตอร์ จำกัด" />

<link href="assets/imgs/favicon.ico" rel="shortcut icon" />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">-->
<link href="assets/fonts/fontface.css" rel="stylesheet" type="text/css" />
<link href="assets/cs/flexgrid.css" rel="stylesheet" type="text/css" />
<link href="assets/cs/flickity.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link href="assets/cs/theme.css?v1.01" rel="stylesheet" type="text/css" />

<link rel="contents" href="#toc" title="Table Of Contents" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


</head>