<header id="header">
  <div class="_flex between-xs middle-xs">
	  <div class="btn-nv-m" role="navigation">
			<a class="b-ex active" href="javascript:;" title="Expand">
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
				</a>
		</div>
		<nav id="navigation" class="main-nav" role="navigation">
			<ul id="nav-drop" class=" _chd-cl-md _chd-cl-md-xs-12">
				<li><a class="selected" href="index.php" title="HOME"><span class="wow fadeInDown" data-wow-delay="0.25s">HOME</span></a></li>
				<li><a href="products.php"><span class="wow fadeInDown" data-wow-delay="0.20s">Products</span></a></li>
				<li><a href="corporrate.php"><span class="wow fadeInDown" data-wow-delay="0.15s">Corporate info</span></a></li>	
				<li><a href="faq.php"><span class="wow fadeInUp" data-wow-delay="0.15s">FAQ</span></a></li>	
				<li><a href="contact.php"><span class="wow fadeInUp" data-wow-delay="0.25s">Contacts</span></a></li>	
			</ul>
			<div class="ft-menu">
				<div class="wow fadeInUp" data-wow-delay="0.35s"><a href="javascript:;"><img src="assets/imgs/ic-invoice.png" alt="invoice"> Pay invoice</a></div>
				<div class="wow fadeInUp" data-wow-delay="0.4s"><a href="javascript:;"><img src="assets/imgs/ic-delivery.png" alt="delivery"> confirm water delivery</a></div>
			</div>
		</nav>
		
		<h1 itemscope="" itemtype="http://schema.org/Organization" class="logo">
			<a href="index.php" itemprop="url">Sprinkle Online Ordering</a>
			<img src="assets/imgs/logo.png" itemprop="logo">
		</h1>

		<div class="tools">
			<div class="button">
				<a id="shop-cart" class="dropbtn" href="javascript:;" onclick="callCart()"><img src="assets/imgs/ic-cart.png" alt="invoice"><em class="noti">0<!-- .hid --></em></a>
				<div id="myCart" class="dropdown-content">
					<div class="total-mob">
						<b>Total:</b>
						<div class="price">
							<big class="total_price">฿13,145.87</big>
							<small>Includinng VAT 7%</small>
						</div>
					</div>
					<ul class="cart-list">
						<?php for($i=1; $i<=8; $i++) { ?>
						<li>
							<div class="pd">
								<div class="wrapinfo">
									<figure>
										<img src="assets/products/350ml.png" alt="Sprinkle 350ml.">
									</figure>
									<div class="info">
										<h3 class="title">
											Sprinkle 350ml.
										</h3>
										<p class="price-average">18 bottles/pack <a class="t-blue" data-fancybox="" data-src="#pd-d01" href="javascript:;">details</a></p>
									</div>
								</div>
								<div class="sum-item">
									<div class="cv-select"><select>
										<option value="1">1 item</option>
										<option value="2">2 items</option>
										<option value="3">3 items</option>
										<option value="4">4 items</option>
										<option value="5">5 items</option>
									</select></div>
									
									<div class="price-total">฿75.-</div>
								</div>
							</div>
							<div class="btn-del" onclick="$(this).parents('li').remove();"></div>
						</li>
						<?php } ?>
					</ul>
					<div class="total-bar">
						<div class="sw-cart-mob"><img src="assets/imgs/ic-angle-top.png"></div>
						<div class="pd-items">
							<big class="items">12</big>
							<div>
								Product items
								<b>in the order</b>
							</div>
						</div>
						
						<big class="total_price">฿13,145.87</big>
					</div>
					<a href="checkout.php" class="ui-btn-primary btn-block">checkout</a>
					<!--<button class="ui-btn-primary btn-block">checkout</button>-->
				</div>
			</div>
			<!--<a href="javascript:;"><img src="assets/imgs/ic-invoice.png" alt="invoice"></a>
			<a href="javascript:;"><img src="assets/imgs/ic-delivery.png" alt="delivery"></a>-->
			<div class="lang">
				<select class="select2" name="select-group-member" data-placeholder="Language">
					<option></option>
					<option value="1">TH</option>
					<option value="2" selected>EN</option>
					<option value="3">JP</option>
				</select>
			</div>
		</div>
	</div>
</header>