<!-- popup cookies -->
<a class="hid" id="call-popup-cookies" data-fancybox data-src="#acp-cookies" href="javascript:;">Accept cookies.</a>
<div style="display: none;" class="thm-popup mid txt-c" id="acp-cookies">
	<div class="inner">
		<div id="chk-step-contact">
			<i class="icon d-flex center-xs">
				<img src="assets/imgs/icon-cookies.png" height="60">
			</i>
			<h2 class="title">Cookies!</h2>
			<p class="desc">Our website is using cookies in order to offer you the most relevant information.</p>
			<div class="ctrl-btn">
				<a id="acceptCookies" href="javascript:;" class="ui-btn-primary btn-block" data-fancybox-close="">ACCEPT COOKIES</a>
			</div>
		</div>

	</div>
</div>
<!-- /popup cookies -->

<script type="text/javascript">
$(document).ready(function(){
	//expand nav
	$('.btn-nv-m .b-ex, .main-nav>ul>li a').click(function(){
		$(this).toggleClass('active');
		$('body').toggleClass('expand');
	});
	$('.lang>a').click(function() {
		if ($(this).hasClass( 'active' )) {
		} else {
		   $('.lang>a').removeClass('active');
		   $(this).toggleClass('active');
		}
    });
     /*header*/
	if($('#header').length > 0) {
		var top17 = $('#header').offset().top + parseFloat($('#header').innerHeight());
		$(window).scroll(function (event) {
			var y17 = $(this).scrollTop();
			if (y17 >= top17 ) {$('#header').addClass('fixed');} else {$('#header').removeClass('fixed');}
		});
	}
	/*bubble chat*/
	$('#bb_chat>a').click(function() {
		if ($(this).hasClass( 'active' )) {
			$(this).removeClass('active');
			$(this).next().slideUp(300);
		} else {
		   $(this).addClass('active');
		   $(this).next().slideToggle(300);
		}
    });
	/*toggle accordion */
	$('.accordion .acc-h').click(function() {
		if ($(this).hasClass( 'active' )) {
		   $(this).parents('.bx').removeClass('expand');
		   $(this).removeClass('active').next().removeClass('active').slideUp(200);
		} else {
		   $(this).parents('.accordion').children('.bx').removeClass('expand');
		   $(this).parents('.accordion').children('.bx').children('.acc-h').removeClass('active');
		   $(this).parents('.accordion').children('.bx').children('.pane').removeClass('active').slideUp(200);
		   $(this).parents('.bx').addClass('expand');
		   $(this).toggleClass('active').next().toggleClass('active').slideToggle(200);
		}
	});
	/*Promotion auto checkbox*/
	/*var radioState;
	var x=parseInt($('#count-btn .noti').children('div').text());
	$("[name=select-pro]").on("click", function(e) {
            if (radioState === this) {
                this.checked = false;
                radioState = null;
				$('.item-promote>li .pd').removeClass('selected');
				$('#count-btn .noti').children('div').addClass('none').text(x=0);
            } else {
                radioState = this;
				$('.item-promote>li .pd').removeClass('selected');
				$(this).parents('.pd').addClass('selected');
				$('#count-btn .noti').children('div').removeClass('none').text(x+1);
            }
        });*/

	/*increase decrease items*/
	$('.decrease').click(function () {
                var input = $(this).next('input');
				var x=parseInt($('#count-btn .noti').children('div').text());
				$('#count-btn .noti').children('div').text(x-1);
				
                if (input.attr('id').indexOf("-mobile") > -1) { // Mobile is current
                    other_id = input.attr('id').split("-mobile").join("");
                    var input_other = $("#" + other_id);
                } else { // Mobile is NOT current
                    var input_other = $("#" + input.attr('id') + "-mobile");
                }
                var qty = parseInt($(this).next('input').val());
                switch (input.attr('id')) {
                    case 'sansiri_u550ml-mobile':
                    case 'sansiri_u550ml':
                    case 'sansiri_550ml-mobile':
                    case 'sansiri_550ml':
                    case 'sansiri_1500ml-mobile':
                    case 'sansiri_1500ml':
                        n_action = 2;
                        break;
                    default:
                        n_action = 1;
                        break;
                }
                if (qty > 0) {
                    switch (input.attr('id')) {
                        case 'sansiri_u550ml-mobile':
                        case 'sansiri_u550ml':
                        case 'sansiri_550ml-mobile':
                        case 'sansiri_550ml':
                        case 'sansiri_1500ml-mobile':
                        case 'sansiri_1500ml':
                            n_minimum = 0;
                            break;
                        case '350ml':
                        case '350ml-mobile':
                        case 'u550ml-mobile':
                        case 'u550ml':
                        case '550ml-mobile':
                        case '550ml':
                            n_minimum = 0;
                            break;
                        case '1500ml':
                        case '1500ml-mobile':
                            n_minimum = 0;
                            break;
                        case '6000ml':
                        case '6000ml-mobile':
                            n_minimum = 0;
                            break;
                        case '189l-mobile':
                        case '189l':
                            n_minimum = 03;
                            break;
                        default:
                            n_minimum = 0;
                            break;
                    }
                    if (qty == n_minimum) {
                        input.val(n_default);
                        //input_other.val(n_default);
                        $("input[name='" + input.attr('name') + "']").val(n_default);
                    }
                    else {
                        input.val(qty - n_action);
                        //input_other.val(qty-n_action);			
                        $("input[name='" + input.attr('name') + "']").val(qty - n_action);
                    }
                }
                //cal_price();
            });
	$('.increase').click(function () {
		var input = $(this).prev('input');
		var x=parseInt($('#count-btn .noti').children('div').text());
		$('#count-btn .noti').children('div').removeClass('none').text(x+1);

		if (input.attr('id').indexOf("-mobile") > -1) { // Mobile is current
			other_id = input.attr('id').split("-mobile").join("");
			var input_other = $("#" + other_id);
		} else { // Mobile is NOT current
			var input_other = $("#" + input.attr('id') + "-mobile");
		}
		var qty = parseInt($(this).prev('input').val());
		switch (input.attr('id')) {
			case 'sansiri_u550ml-mobile':
			case 'sansiri_u550ml':
			case 'sansiri_550ml-mobile':
			case 'sansiri_550ml':
			case 'sansiri_1500ml-mobile':
			case 'sansiri_1500ml':
				n_action = 2;
				break;
			default:
				n_action = 1;
				break;
		}
		if (qty == 0) {
			switch (input.attr('id')) {
				case 'sansiri_u550ml-mobile':
				case 'sansiri_u550ml':
				case 'sansiri_550ml-mobile':
				case 'sansiri_550ml':
				case 'sansiri_1500ml-mobile':
				case 'sansiri_1500ml':
					n_minimum = 2;
					break;
				case '350ml':
				case '350ml-mobile':
				case 'u550ml-mobile':
				case 'u550ml':
				case '550ml-mobile':
				case '550ml':
					n_minimum = 2;
					break;
				case '1500ml':
				case '1500ml-mobile':
					n_minimum = 2;
					break;
				case '6000ml':
				case '6000ml-mobile':
					n_minimum = 4;
					break;
				case '189l-mobile':
				case '189l':
					n_minimum = 3;
					$('#coupon').val(1);
					break;
				case 'coupon':
					n_minimum = 1;
					$('#189l').val(3);
					break;
				default:
					n_minimum = 1;
					break;
			}
			qty = (n_minimum - n_action);
		}
		input.val(qty + n_action);
		//input_other.val(qty + n_action);
		$("input[name='" + input.attr('name') + "']").val(qty + n_action);
		//cal_price();
	});

});
</script>

<script>
/* cart toggle*/
function callCart() {
  document.getElementById("myCart").classList.toggle("show");
  document.getElementById("shop-cart").classList.toggle("active");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn') && !event.target.matches('.dropbtn *') && !event.target.matches('.dropdown-content *') && !event.target.matches('.btn-del')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
		document.getElementById("shop-cart").classList.remove("active");
      }
    }
  }
}
$(document).ready(function(){
	$('.sw-cart-mob').click(function(){
		$(this).toggleClass('active');
		$('.dropdown-content').toggleClass('pane');
		$('.cart-list').slideToggle(200);
	});
	//switch button add cart
	$(".btn-addcart").click(function () {
		 if ($(this).parents('.pd').hasClass( 'active' )) {
			$(this).parents('.pd').removeClass('active');
			$(this).parents('.pd').find('.ft-detail').removeClass('active');
		} else {
		   $(this).parents('.pd').addClass('active');
		   $(this).parents('.pd').find('.ft-detail').addClass('active');
		}
      $(this).children('span').text(function(i, text){
          return text === "ADD TO" ? "REMOVE" : "ADD TO";
      })
   });
	/*$('.btn-addcart').click(function(){
		$(this).toggleClass('active');
		
		  if ($(this).children('span').innerHTML === "ADD TO") {
			$(this).children('span').innerHTML = "REMOVE";
		} else {
			$(this).children('span').innerHTML = "REMOVE";
		}
	});*/

});
</script>

<script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script>
$(document).ready(function() {
	//select2
	$(".select-box").select2({
		minimumResultsForSearch: -1,
		placeholder: "Select",
		dropdownAutoWidth : true, 
		width: '100%', 
	});
	$('.select2').select2({
		minimumResultsForSearch: -1,
    	placeholder: "Select",
    	//allowClear: true,
		//tags: true,
		dropdownAutoWidth : true,
		width: '100%'
	});
	
	//fancybox
	$("[data-fancybox='modal']").fancybox({
		toolbar  : false,
		margin : [1, 0],
		infobar : false,
		protect : false,
		arrows : false,
        touch: false,
	});

	$('[data-fancybox="image"]').fancybox({
    	arrows : false,
    });
	
	//cookies call popup
	//$("#call-popup-cookies").fancybox().trigger('click');
	function openFancybox() {
		setTimeout(function () {
			$("#call-popup-cookies").fancybox().trigger('click');
		}, 2000);
	};
	var wDomain=window.location.host.split(".");
	if(wDomain[1]=='sprinkle')
	{
		var date= new Date(); 
		var hh  = date.getTimezoneOffset()/60;
		date.setUTCHours(23+hh,59,59,999);
	}
	else
	{
	    var date = new Date(); date.setTime(date.getTime() + (30 * 60 * 1000));
	}
	
	if ($.cookie("chksplash")!=9)
	{
		openFancybox();

		//$.cookie("chksplash", 9, { path: '/' , expires: date });
	}
	$('#acceptCookies').click(function() {	$.cookie("chksplash", 9, { path: '/' , expires: date }); });
	
	
});
/*$(window).load(function() {
  $('.big-slider').flexslider({
    animation: "slide",
	smoothHeight: true,
  });
});*/

</script>
<script>
    // WOW Animation
   new WOW().init();
</script>